# Titanic Survival

#### Grading:


- Code: 90 pts
- Markdown Documentation: 10 pts

We are going to study the survival rate of passengers on titanic and what variables affected survival.

Load the dataset in `titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [39]:
from IPython.core.display import HTML
import numpy as np
import pandas as pd
import math
HTML(filename='../data/titanic.html')

In [40]:
# you would need xlrd - pip install xlrd
t_file = pd.ExcelFile('../data/titanic.xls')
t_df = t_file.parse("titanic", header=None)
t_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.338,B5,S,2,NaN,"St Louis, MO"
2,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.55,C22 C26,S,NaN,135,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,NaN,C,NaN,328,NaN
1306,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1307,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.225,NaN,C,NaN,304,NaN
1308,3,0,"Zakarian, Mr. Ortin",male,27,0,0,2670,7.225,NaN,C,NaN,NaN,NaN
1309,3,0,"Zimmerman, Mr. Leo",male,29,0,0,315082,7.875,NaN,S,NaN,NaN,NaN

### Women and children first?

*** 1. Use the `groupby` method to calculate the proportion of passengers that survived by sex. (10 pts)***

In [41]:
#drop unnecesary variables
t_df.columns = t_df.iloc[0]
Mydf= t_df.drop(t_df.index[0])
MyTitanicData = Mydf.drop(["name","sibsp","parch","ticket","fare","cabin","embarked","boat","body","home.dest"], axis=1)

#  Total number of Male and Female

In [42]:
Titanic_sex = MyTitanicData.groupby(['sex']).size()
Titanic_sex

sex
female    466
male      843
dtype: int64

In [43]:
TotalFemale = Titanic_sex[0]
TotalMale = Titanic_sex[1]

In [44]:
Titanic_surv = MyTitanicData.groupby(['sex','survived']).size()

MyTitanic = Titanic_surv.to_frame().reset_index()
Gender_prop = MyTitanic.rename(columns={MyTitanic.columns[2] : "proportion"})
Gender_prop

      sex  survived  proportion
0  female         0         127
1  female         1         339
2    male         0         682
3    male         1         161

In [45]:
Female = Gender_prop[Gender_prop['sex'] =='female']
Male = Gender_prop[Gender_prop['sex'] =='male']

# Proportion of Male survivability

In [46]:
Male['Percentage'] = (Male['proportion'] / TotalMale) * 100
Male.drop(["proportion"], axis=1)

C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

    sex  survived  Percentage
2  male         0   80.901542
3  male         1   19.098458

## 80.9% of males died on the titanic.
## 19% of males survived the titanic.

# Proportion of Female survivability

In [47]:
Female['Percentage'] = (Female['proportion'] / TotalFemale) * 100
Female.drop(["proportion"], axis=1)

C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      sex  survived  Percentage
0  female         0   27.253219
1  female         1   72.746781

## 27% of females died on the titanic.
## 72% of females survived the titanic.

*** 2. Calculate the same proportion, but by class and sex. (10 pts)***

In [48]:
Pclass_data = MyTitanicData.groupby(['pclass','sex']).size()
Pclass_data

pclass  sex
1       female    144
        male      179
2       female    106
        male      171
3       female    216
        male      493
dtype: int64

### store total values into variables to use later

In [49]:
First_F_tot = Pclass_data[0]
First_M_tot = Pclass_data[1][1]
Second_F_tot = Pclass_data[2][0]
Second_M_tot = Pclass_data[2][1]
Third_F_tot = Pclass_data[4]
Third_M_tot = Pclass_data[5]

In [50]:
#groupby size and find out the number of people who survived and who didnt survived 
Titanic_class = MyTitanicData.groupby(['pclass','sex','survived']).size()
Titanic_class = Titanic_class.to_frame().reset_index()
Class_prop = Titanic_class.rename(columns={Titanic_class.columns[3] : "proportion"})
Class_prop

    pclass     sex  survived  proportion
0        1  female         0           5
1        1  female         1         139
2        1    male         0         118
3        1    male         1          61
4        2  female         0          12
5        2  female         1          94
6        2    male         0         146
7        2    male         1          25
8        3  female         0         110
9        3  female         1         106
10       3    male         0         418
11       3    male         1          75

In [51]:
FirstClass_F = Class_prop[Class_prop['pclass'] == 1][Class_prop['sex'] == 'female']
FirstClass_M = Class_prop[Class_prop['pclass'] == 1][Class_prop['sex'] == 'male']
SecondClass_F = Class_prop[Class_prop['pclass'] == 2][Class_prop['sex'] == 'female']
SecondClass_M = Class_prop[Class_prop['pclass'] == 2][Class_prop['sex'] == 'male']
ThirdClass_F = Class_prop[Class_prop['pclass'] == 3][Class_prop['sex'] == 'female']
ThirdClass_M = Class_prop[Class_prop['pclass'] == 3][Class_prop['sex'] == 'male']

C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.
C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """
C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

# Total First class female proportion:

In [52]:
FirstClass_F['Percentage'] = (FirstClass_F['proportion'] / First_F_tot) * 100
FirstClass_F.drop(["proportion"], axis=1)

   pclass     sex  survived  Percentage
0       1  female         0    3.472222
1       1  female         1   96.527778

### 3% of first class females died on the titanic.
### 96% of first class females survived the titanic.

# Total First class male proportion:

In [53]:
FirstClass_M['Percentage'] = (FirstClass_M['proportion'] / First_M_tot) * 100
FirstClass_M.drop(["proportion"], axis=1)

   pclass   sex  survived  Percentage
2       1  male         0   65.921788
3       1  male         1   34.078212

### 65% of first class males died on the titanic.
### 34% of first class males survived the titanic.

# Total Second class female proportion:

In [54]:
SecondClass_F['Percentage'] = (SecondClass_F['proportion'] / Second_F_tot) * 100
SecondClass_F.drop(["proportion"], axis=1)

   pclass     sex  survived  Percentage
4       2  female         0   11.320755
5       2  female         1   88.679245

### 11% of second class females died on the titanic.
### 88% of second class females survived the titanic.

# Total Second class male proportion:

In [55]:
SecondClass_M['Percentage'] = (SecondClass_M['proportion'] / Second_M_tot) * 100
SecondClass_M.drop(["proportion"], axis=1)

   pclass   sex  survived  Percentage
6       2  male         0   85.380117
7       2  male         1   14.619883

### 85% of second class males died on the titanic.
### 14% of second class males survived the titanic.

# Total Third class female proportion:

In [56]:
#proportion of third class female survial. 
ThirdClass_F['Percentage'] = (ThirdClass_F['proportion'] / Third_F_tot) * 100
ThirdClass_F.drop(["proportion"], axis=1)

   pclass     sex  survived  Percentage
8       3  female         0   50.925926
9       3  female         1   49.074074

### 50% of third class females died on the titanic.
### 49% of third class females survived the titanic.

# Total Third class male proportion:

In [57]:
#proportion of third class male survival
ThirdClass_M['Percentage'] = (ThirdClass_M['proportion'] / Third_M_tot) * 100
ThirdClass_M.drop(["proportion"], axis=1)

    pclass   sex  survived  Percentage
10       3  male         0   84.787018
11       3  male         1   15.212982

### 84% of third class males died on the titanic.
### 15% of third class males survived the titanic.

*** 3. Create age categories: children (under 14 years), adolescents (14-20), adult (21-64), and senior(65+), and calculate survival proportions by age category, class and sex. (20 pts)***

In [58]:
#read data 
MyTitanicData

0    pclass survived     sex     age
1         1        1  female      29
2         1        1    male  0.9167
3         1        0  female       2
4         1        0    male      30
5         1        0  female      25
...     ...      ...     ...     ...
1305      3        0  female    14.5
1306      3        0  female     NaN
1307      3        0    male    26.5
1308      3        0    male      27
1309      3        0    male      29

[1309 rows x 4 columns]

In [59]:
# sort data by age categories
Children = MyTitanicData[MyTitanicData['age'] < 14]
adolescents = MyTitanicData[(MyTitanicData['age'] >= 14) & (MyTitanicData['age'] <=20)]
adult = MyTitanicData[(MyTitanicData['age'] >= 21) & (MyTitanicData['age'] <=64)]
senior = MyTitanicData[(MyTitanicData['age'] >= 65)]

# Survival proportions of Children ( age under 14)

In [60]:
# find total amount of female and male children per class. 
Children_prop = Children.groupby(['pclass','sex']).size()
Children_prop

pclass  sex
1       female     1
        male       5
2       female    14
        male      11
3       female    31
        male      37
dtype: int64

In [61]:
# put total values in variables to use later
First_F_child = Children_prop[0]
First_M_child = Children_prop[1][1]
Second_F_child = Children_prop[2][0]
Second_M_child = Children_prop[2][1]
Third_F_child = Children_prop[4]
Third_M_child = Children_prop[5]

# clean up dataset
Children = Children.groupby(['pclass','sex','survived']).size()
Children= Children.to_frame().reset_index()
Child_prop = Children.rename(columns={Titanic_class.columns[3] : "proportion"})

In [62]:
#seperate classes and sex in different tables
FirstClass_F_child = Child_prop[Child_prop['pclass'] == 1][Child_prop['sex'] == 'female']
FirstClass_M_child = Child_prop[Child_prop['pclass'] == 1][Child_prop['sex'] == 'male']
SecondClass_F_child = Child_prop[Child_prop['pclass'] == 2][Child_prop['sex'] == 'female']
SecondClass_M_child = Child_prop[Child_prop['pclass'] == 2][Child_prop['sex'] == 'male']
ThirdClass_F_child = Child_prop[Child_prop['pclass'] == 3][Child_prop['sex'] == 'female']
ThirdClass_M_child = Child_prop[Child_prop['pclass'] == 3][Child_prop['sex'] == 'male']

C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """
C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

In [63]:
## find proportions of each category. 
FirstClass_F_child['Percentage'] = (FirstClass_F_child['proportion'] / First_F_child) * 100
print(FirstClass_F_child.drop(["proportion"], axis=1))

FirstClass_M_child['Percentage'] = (FirstClass_M_child['proportion'] / First_M_child) * 100
print(FirstClass_M_child.drop(["proportion"], axis=1))

SecondClass_F_child ['Percentage'] = (SecondClass_F_child ['proportion'] / Second_F_child) * 100
print(SecondClass_F_child.drop(["proportion"], axis=1))

SecondClass_M_child ['Percentage'] = (SecondClass_M_child ['proportion'] / Second_M_child) * 100
print(SecondClass_M_child.drop(["proportion"], axis=1))

ThirdClass_F_child  ['Percentage'] = (ThirdClass_F_child  ['proportion'] / Third_F_child) * 100
print(ThirdClass_F_child .drop(["proportion"], axis=1))

ThirdClass_M_child  ['Percentage'] = (ThirdClass_M_child  ['proportion'] / Third_M_child) * 100
print(ThirdClass_M_child .drop(["proportion"], axis=1))

   pclass     sex  survived  Percentage
0       1  female         0       100.0
   pclass   sex  survived  Percentage
1       1  male         1       100.0
   pclass     sex  survived  Percentage
2       2  female         1       100.0
   pclass   sex  survived  Percentage
3       2  male         1       100.0
   pclass     sex  survived  Percentage
4       3  female         0   51.612903
5       3  female         1   48.387097
   pclass   sex  survived  Percentage
6       3  male         0   67.567568
7       3  male         1   32.432432

# ANAYLSIS of Children:
### - 100% of first class female children died
### - 100% of first class male children did survive
### - 100% of second class female children did survive
### - 100% of second calss male children did survive
### - 51% of third class female children died 
### - 48% of third class female children survived
### - 67% of third class male children died
### - 32% of third class male children survived

# Survival proportions of Adolescents ( age between 14-20)

In [64]:
# find total amount of female and male children per class. 
adolescents_prop = adolescents.groupby(['pclass','sex']).size()
adolescents_prop

pclass  sex
1       female    15
        male       5
2       female    13
        male      17
3       female    35
        male      64
dtype: int64

In [65]:
# put total values in variables to use later
First_F_adol = adolescents_prop[0]
First_M_adol = adolescents_prop[1][1]
Second_F_adol = adolescents_prop[2][0]
Second_M_adol = adolescents_prop[2][1]
Third_F_adol = adolescents_prop[4]
Third_M_adol = adolescents_prop[5]

# clean up dataset
adolescents = adolescents.groupby(['pclass','sex','survived']).size()
adolescents= adolescents.to_frame().reset_index()
adol_prop = adolescents.rename(columns={Titanic_class.columns[3] : "proportion"})

In [66]:
#seperate classes and sex in different tables
FirstClass_F_adol = adol_prop[adol_prop['pclass'] == 1][adol_prop['sex'] == 'female']
FirstClass_M_adol = adol_prop[adol_prop['pclass'] == 1][adol_prop['sex'] == 'male']
SecondClass_F_adol = adol_prop[adol_prop['pclass'] == 2][adol_prop['sex'] == 'female']
SecondClass_M_adol = adol_prop[adol_prop['pclass'] == 2][adol_prop['sex'] == 'male']
ThirdClass_F_adol = adol_prop[adol_prop['pclass'] == 3][adol_prop['sex'] == 'female']
ThirdClass_M_adol = adol_prop[adol_prop['pclass'] == 3][adol_prop['sex'] == 'male']

C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """
C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

In [67]:
## find proportions of each category. 
FirstClass_F_adol['Percentage'] = (FirstClass_F_adol['proportion'] / First_F_adol) * 100
print(FirstClass_F_adol.drop(["proportion"], axis=1))

FirstClass_M_adol['Percentage'] = (FirstClass_M_adol ['proportion'] / First_M_adol) * 100
print(FirstClass_M_adol.drop(["proportion"], axis=1))

SecondClass_F_adol['Percentage'] = (SecondClass_F_adol ['proportion'] / Second_F_adol) * 100
print(SecondClass_F_adol.drop(["proportion"], axis=1))

SecondClass_M_adol['Percentage'] = (SecondClass_M_adol ['proportion'] / Second_M_adol) * 100
print(SecondClass_M_adol.drop(["proportion"], axis=1))

ThirdClass_F_adol['Percentage'] = (ThirdClass_F_adol['proportion'] / Third_F_adol) * 100
print(ThirdClass_F_adol.drop(["proportion"], axis=1))

ThirdClass_M_adol['Percentage'] = (ThirdClass_M_adol['proportion'] / Third_M_adol) * 100
print(ThirdClass_M_adol.drop(["proportion"], axis=1))

   pclass     sex  survived  Percentage
0       1  female         1       100.0
   pclass   sex  survived  Percentage
1       1  male         0        80.0
2       1  male         1        20.0
   pclass     sex  survived  Percentage
3       2  female         0    7.692308
4       2  female         1   92.307692
   pclass   sex  survived  Percentage
5       2  male         0   88.235294
6       2  male         1   11.764706
   pclass     sex  survived  Percentage
7       3  female         0   45.714286
8       3  female         1   54.285714
    pclass   sex  survived  Percentage
9        3  male         0        87.5
10       3  male         1        12.5

# ANAYLSIS of Adolescents:
### - 100% of first class female adolescents survived
### - 80% of first class male adolescents died
### - 20% of first class male adolescents survived
### - 8% of second class female adolescents died
### - 92% of second class female adolescents survived
### - 88% of second class male adolescents died
### - 12% of second class male adolescents survived
### - 46% of third class female adolescents died
### - 54% of third class female adolescents survived
### - 88% of third class male adolescents died
### - 12% of third class male adolescents survived

# Survival proportions of Adult (21-64)

In [68]:
# find total amount of female and male children per class. 
adult_cat = adult.groupby(['pclass','sex']).size()
adult_cat

pclass  sex
1       female    116
        male      134
2       female     76
        male      128
3       female     86
        male      244
dtype: int64

In [69]:
# put total values in variables to use later
First_F_adult = adult_cat[0]
First_M_adult = adult_cat[1][1]
Second_F_adult = adult_cat[2][0]
Second_M_adult = adult_cat[2][1]
Third_F_adult = adult_cat[4]
Third_M_adult = adult_cat[5]

# clean up dataset
adult = adult.groupby(['pclass','sex','survived']).size()
adult = adult.to_frame().reset_index()
adult_prop = adult.rename(columns={adult.columns[3] : "proportion"})

In [70]:
#seperate classes and sex in different tables
FirstClass_F_adult = adult_prop[adult_prop['pclass'] == 1][adult_prop['sex'] == 'female']
FirstClass_M_adult = adult_prop[adult_prop['pclass'] == 1][adult_prop['sex'] == 'male']
SecondClass_F_adult = adult_prop[adult_prop['pclass'] == 2][adult_prop['sex'] == 'female']
SecondClass_M_adult = adult_prop[adult_prop['pclass'] == 2][adult_prop['sex'] == 'male']
ThirdClass_F_adult = adult_prop[adult_prop['pclass'] == 3][adult_prop['sex'] == 'female']
ThirdClass_M_adult = adult_prop[adult_prop['pclass'] == 3][adult_prop['sex'] == 'male']

C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """
C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

In [71]:
## find proportions of each category. 
FirstClass_F_adult['Percentage'] = (FirstClass_F_adult['proportion'] / First_F_adult) * 100
print(FirstClass_F_adult.drop(["proportion"], axis=1))

FirstClass_M_adult['Percentage'] = (FirstClass_M_adult ['proportion'] / First_M_adult) * 100
print(FirstClass_M_adult.drop(["proportion"], axis=1))

SecondClass_F_adult['Percentage'] = (SecondClass_F_adult ['proportion'] / Second_F_adult) * 100
print(SecondClass_F_adult.drop(["proportion"], axis=1))

SecondClass_M_adult['Percentage'] = (SecondClass_M_adult ['proportion'] / Second_M_adult) * 100
print(SecondClass_M_adult.drop(["proportion"], axis=1))

ThirdClass_F_adult['Percentage'] = (ThirdClass_F_adult['proportion'] / Third_F_adult) * 100
print(ThirdClass_F_adult.drop(["proportion"], axis=1))

ThirdClass_M_adult['Percentage'] = (ThirdClass_M_adult['proportion'] / Third_M_adult) * 100
print(ThirdClass_M_adult.drop(["proportion"], axis=1))

   pclass     sex  survived  Percentage
0       1  female         0    3.448276
1       1  female         1   96.551724
   pclass   sex  survived  Percentage
2       1  male         0   65.671642
3       1  male         1   34.328358
   pclass     sex  survived  Percentage
4       2  female         0   13.157895
5       2  female         1   86.842105
   pclass   sex  survived  Percentage
6       2  male         0     92.1875
7       2  male         1      7.8125
   pclass     sex  survived  Percentage
8       3  female         0   55.813953
9       3  female         1   44.186047
    pclass   sex  survived  Percentage
10       3  male         0   84.016393
11       3  male         1   15.983607

# ANAYLSIS of Adults:
### - 3% of first class female adults died
### - 97% of first class female adults survived
### - 66% of first class male adults died
### - 34% of first class male adults survived
### - 13% of second class female adults died
### - 87% of second class female adults survived
### - 92% of second class male adults died
### - 8% of second class male adults survived
### - 56% of third class female adults died
### - 44% of third class female adults survived
### - 84% of third class male adults died
### - 16% of third class male adults survived

# Survival proportions of Seniors (65+)

In [72]:
# find total amount of female and male children per class. 
senior_cat = senior.groupby(['pclass','sex']).size()
senior_cat

pclass  sex
1       female    1
        male      7
2       male      2
3       male      3
dtype: int64

In [73]:
# put total values in variables to use later
First_F_senior = senior_cat[0]
First_M_senior= senior_cat[1][1]
Second_M_senior = senior_cat[2][0]
Third_M_senior = senior_cat[3][0]

# clean up dataset
senior = senior.groupby(['pclass','sex','survived']).size()
senior = senior.to_frame().reset_index()
senior_prop = senior.rename(columns={senior.columns[3] : "proportion"})

In [74]:
#seperate classes and sex in different tables
FirstClass_F_senior = senior_prop [senior_prop ['pclass'] == 1][senior_prop ['sex'] == 'female']
FirstClass_M_senior = senior_prop [senior_prop ['pclass'] == 1][senior_prop ['sex'] == 'male']
SecondClass_M_senior = senior_prop[senior_prop['pclass'] == 2][senior_prop['sex'] == 'male']
ThirdClass_M_senior = senior_prop[senior_prop['pclass'] == 3][senior_prop['sex'] == 'male']

C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

In [75]:
## find proportions of each category. 
FirstClass_F_senior['Percentage'] = (FirstClass_F_senior['proportion'] / First_F_senior) * 100
print(FirstClass_F_senior.drop(["proportion"], axis=1))


FirstClass_M_senior['Percentage'] = (FirstClass_M_senior ['proportion'] / First_M_senior) * 100
print(FirstClass_M_senior.drop(["proportion"], axis=1))


SecondClass_M_senior['Percentage'] = (SecondClass_M_senior ['proportion'] / Second_M_senior) * 100
print(SecondClass_M_senior.drop(["proportion"], axis=1))


ThirdClass_M_senior['Percentage'] = (ThirdClass_M_senior['proportion'] / Third_M_senior) * 100
print(ThirdClass_M_senior.drop(["proportion"], axis=1))

   pclass     sex  survived  Percentage
0       1  female         1       100.0
   pclass   sex  survived  Percentage
1       1  male         0   85.714286
2       1  male         1   14.285714
   pclass   sex  survived  Percentage
3       2  male         0       100.0
   pclass   sex  survived  Percentage
4       3  male         0       100.0

# ANAYLSIS of Seniors:
### - 100% of first class female seniors survived
### - 86% of first class male seniors died
### - 14% of first class male seniors survived
### - 100% of second class male seniors died
### - 100% of third class male seniors died